html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #000;
	/*width: 960px;*/
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#rotator {
	background: grey;
	height: 200px;
}

input {
	height: 30px;
}

.applicationWrap {
width: 100%;
height: 100%;
}

/* ---------------- NAVIGATION AND SIDE NAVIGATION STYLE -------------------- */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-inverse {
	background: #01859e;
	border: none;
}

#sideNavFixed {
width: 3%;
height: 100%;
background: #fafafa;
float: left;
position: relative;
top: 0px;
left: 0px;
padding: 0 17px;
}

.menuButton {
	margin: 15px 0;
}

.addExpenseButtonSideNav {
	margin: 30px 0 10px;
}

.addIncomeButtonSideNav {
	margin: 30px 0 10px;
}

/* --------------CANVAS STYLES --------------- */
canvas {
	width: 100%;
}
/* ----------  BILL STYLES  ------------- */

#billsAndIncome {
background: #F5F5F5;
padding: 10px;
border: 1px solid #999;
height: 100%;
}

.billName {
	float: left;
}

.billItem {
	border: 1px solid #bbb;
	margin: 10px 0px;
	padding: 10px;
	background: #4ae;
	/*box-shadow: 2px 2px 6px #332;*/
}

#billItemLeft {
	float: left;
}

#billItemRight {
	float: right;
}

#changeButtons {
	float: left;
}

.billAmount {
	float: right;
}

.billDate {
	clear: both;
	float: right;
}


/* ------------- INCOME STYLES -------------- */

.incomeItem {
background: #45D3A6;
color: white;
height: 50px;
margin: 2px 0px;
position: relative;
padding: 5px;
}

.incomeName.span10 {
	min-height: 20px;
}

.incomeDelete.span2 {
	min-height: 20px;
}

.incomeAmount {
float: right;
}

#stats {
	float: left;
	clear: left;
}